/* -------- */
/* main >>> */
/* -------- */

/* colour pattern
#587da0 blue gray
#becbdf silver gray
#f5f5f7 light gray
#ecd7d5 baby pink
*/

.body {
    color: #587da0;
    background-color: #f5f5f7;
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 14px;
    font-weight: 300;
}

.wrapper {
    max-width: 960px;
    width: 100%;
    margin: 0 auto;
    padding: 0;
    background-color: #f5f5f7;
    display: flex;
    flex-wrap: wrap;
}

.left-column {
    position: fixed;
    top: 0;
    left: 0;
    display: block;
    width: 124px;
    height: 100vw;
    background-color: #ecd7d5;
}

.right-column {
    width: calc(100%-124px);
    margin-left: 124px;
    position: relative;
}

.margin-top-40 {
    margin-top: 40px;
}

.margin-top-24 {
    margin-top: 24px;
}

.margin-top-18 {
    margin-top: 18px;
}

.margin-bottom-40 {
    margin-bottom: 40px;
}

.d-block {
    display: block;
}

.d-flex {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.logo {
    position: fixed;
    top: 42px;
    left: 12px
}

.logo-image {
    width: 100px;
}

/* --- */
/* nav */
/* --- */


.nav-list {
    width: 100px;
    display: block;
    position: fixed;
    left: 12px;
    bottom: 24px;
    line-height: 24px;
    font-size: 10px;
    border-right: 1px solid #587da0;
    padding-right: 12px;
    text-align: right;
}

.list-style {
    list-style-type: none;
    margin:0;
    padding:0;
    overflow: hidden;
}

.list-style ul {
    list-style-type: none;
    padding-left: 24px;
}

li a {
    color: #587da0;
    text-decoration: none;
}

li a:hover {
    color: #f5f5f7
}

.nav-sns {
    position: fixed;
    top: 60px;
    right: 18px;
    margin: 0;
    height: 100vh;
    width: 50px;
    padding: 0 10px;
}

.nav-fab {
    color: #ecd7d5;
    font-size: 24px;
    margin: 36px 6px;
}

.nav-fab:hover {
    color: #becbdf;
}

.nav-scroll {
    position: fixed;
    bottom: 24px;
    right: 18px;
}

.nav-scroll a:hover {
    color: #becbdf
}

/* ---------- */
/* nav mobile */
/* ---------- */

header {
    position: fixed;
    padding: 10px;
    width: 100%;
    background-color: #587da0;
    display: flex;
    margin-bottom: 16px;
    z-index: 99;
}

#nav-drawer {
    position: relative;
}

/*チェックボックス等は非表示に*/
.nav-unshown {
    display:none;
}

/*アイコンのスペース*/
#nav-open {
    display: inline-block;
    width: 30px;
    height: 22px;
    vertical-align: middle;
}

/*ハンバーガーの形をCSSで表現*/
#nav-open span, #nav-open span:before, #nav-open span:after {
    position: absolute;
    height: 1px;/*線の太さ*/
    width: 25px;/*長さ*/
    border-radius: 3px;
    background: #ecd7d5;
    display: block;
    content: '';
    cursor: pointer;
}

#nav-open span:before {
    bottom: -8px;
}

#nav-open span:after {
    bottom: -16px;
}

/*閉じる用の薄黒箇所*/
#nav-close {
    display: none;
    position: fixed;
    z-index: 99;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #587da0;
    opacity: 0;
    transition: .3s ease-in-out;
}

/*メニューの中身*/
#nav-content {
    overflow: auto;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    width: 30%;
    max-width: 330px;/*最大幅（お好みで調整を）*/
    height: 100%;
    background: #ecd7d5;
    transition: .3s ease-in-out;
    -webkit-transform: translateX(-105%);
    transform: translateX(-105%);
    line-height: 24px;
}

.list-image {
    width: 90%;
    margin-top: 48px;
    margin-right: 0;
}

.list-container {
    text-align: right;
    margin: 48px 15px 24px 24px;
    font-size: 10px;
}

/*チェックがついたら表示させる*/
#nav-input:checked ~ #nav-close {
    display: block;
    opacity: .5;
}

#nav-input:checked ~ #nav-content {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
}

.header-logo-menu{
    display: flex;
    display: -moz-flex;
    display: -o-flex;
    display: -webkit-flex;
    display: -ms-flex;
    flex-direction: row;
    -moz-flex-direction: row;
    -o-flex-direction: row;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
}

.logo-mobile {
    text-align: right;
    width: 100%;
}

.logo-mobile img {
    height: 22px;
    margin-right: 28px;
}


/* ----------- */
/* itroduction */
/* ----------- */

#introduction {
    margin: 24px;
    background-color: #587da0;
    display: flex;   
}

.introduction-text {
    max-width: 600px;
    width: 60%;
    margin: 32px 24px 32px 60px;
    line-height: 24px;
    color: #f5f5f7;
    font-size: 12px;
}

.introduction-text a {
    color: #f5f5f7;
}

.introduction-image {
    max-width: 160px;
    width: 20%;
    height: 100%;
    margin: auto 60px auto 24px;
}


/* ------------------- */
/* introduction mobile */
/* ------------------- */

#introduction-mobile {
    margin: 48px;
    color: #587da0;
    display: block;
    text-align: right;
}

.introduction-text-mobile {
    max-width: 700px;
    margin: 48px;
    line-height: 24px;
    color: #587da0;
    font-size: 12px;
}

.introduction-text-mobile a {
    color: #587da0;
}

.introduction-image-mobile {
    max-width: 700px;
    width: 60%;
}

/* -------- */
/* artworks */
/* -------- */

.artworks {
    max-width: 64%;
    margin: auto;
}

.artworks-title {
    font-size: 12px;
    font-weight: 500;
    margin-block-start: 48px;
    margin-block-end: 4px;
}

.artworks-subtitle {
    font-size: 11px;
    margin-block-start: 2px;
    margin-block-end: 2px;
}

.artworks-link {
    font-size: 11px;
    margin-block-start: 2px;
    margin-block-end: 4px;
}

.artworks-link a {
    color: #becbdf;
    text-decoration: none;
}

.artworks-link a:hover {
    color: #ecd7d5;
}

#artworks-illustrations {
    margin-top: 112px; 
}

.image {
    object-fit: cover;
    width: 100%;
    height: auto;
}

.image-sub {
    width: 100%;
}

/* ------- */
/* youtube */
/* ------- */

.youtube {
    position: relative;
    width: 100%;
    padding-top: 56.25%;
}

.youtube iframe {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
}


/* ------ */
/* footer */
/* ------ */

.footer {
    align-items: center;
    height: 72px;
    font-size: 12px;
    color: #587da0;
    line-height: 10px;
    text-align: center;
    width: 100%;
}

.footer a {
    text-decoration: none;
    color: #587da0;
}


/* ----- */
/* media */
/* ----- */

@media screen and (min-width:767px) {
    header {
        display:none;
    }

    .logo-mobile {
        display: none;
    }

    .footer {
        margin-left: 124px;
    }
}

@media screen and (max-width:766px) {
    .left-column {
        display: none;
    }

    .right-column {
        width: 100%;
        margin: 0px 0 0 0;
    }

    #introduction {
        display: none;
    }
}

  